{{ if not .Params.HideSharer }}
<span>
	<a class="twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .LinkTitle }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}">
		<span><i class="fa fa-twitter"></i>&nbsp;{{ .Site.Params.tweet | default "tweet" }}</span>
	</a>
	 ∙
	<a class="facebook" href="#" onclick="
	    window.open(
	      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
	      'facebook-share-dialog',
	      'width=626,height=436');
	    return false;">
	    <span><i class="fa fa-facebook-square"></i>&nbsp;{{ .Site.Params.share | default "share" }}</span>
	</a>
</span>
	{{ if $.Page.GitInfo }}
	<a title="View changes" href="https://github.com/wzulfikar/lab/commit/{{ with $.Page.GitInfo }}{{ .Hash }}{{ end }}">
		<span class="last-update-time">
			Last updated {{ $.Page.Lastmod.Format "Jan 02, 2006 (3:04pm)" }}&nbsp;<i class="fa fa-code-fork"></i>
		</span>
	</a>
	{{ end }}
{{ end }}
