<a class="twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .LinkTitle }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}">
	<span><i class="fa fa-twitter"></i> {{ .Site.Params.tweet | default "tweet" }}</span>
</a>
 ∙ 
<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;">
    <span><i class="fa fa-facebook-square"></i> {{ .Site.Params.share | default "share" }}</span>
</a>
