h2[id]:before {
    content: '# ';
}

.read-time {
	font-weight: normal;
	color: #c2c2c2;
	font-size: 16px;
	display: block;
}

.text-center {
	text-align: center;
}

.red {
	color: firebrick;
}

.dark-underline {
	color: #666;
	text-decoration: underline;
}

.draft-indicator {
	color: darkgrey;
	font-size: 12px;
	vertical-align: text-top;
}

.draft-indicator--inverted {
	color: white;
    font-size: 12px;
    vertical-align: text-top;
    background-color: #8e8e8e;
    padding: 2px 5px;
    border-radius: 2px;
}

/* Link for Go playground */
a[href^="https://play.golang.org/"] {
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

a[href^="https://play.golang.org/"]:after {
	content: " ▸";
}
