{{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper" class="post">
            <article>
                <header>
                    <h1>
                        {{ .Title | markdownify }}
                    </h1>
                    {{ if .Draft }}
                    <span class="draft-indicator--inverted">DRAFT</span>
                    {{ end }}

                    {{ if not .Params.HideHeadline }}
                    <h2 class="headline">
                    {{ if .Params.Post_id }}
                    POST #{{ .Params.Post_id }}
                    ·
                    {{ end }}

                    {{ .Date.Format "Jan 2, 2006 15:04" }}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                    {{ end }}

                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if not .Params.hideToc }}
	                  {{ if .TableOfContents }}
	                    <div id="toc">
						Table of Contents:
	                      {{ .TableOfContents }}
	                    </div>
	                  {{ end }}
	              {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>

            </article>

			<div class="sharer">
            {{ if .Site.Params.enableShare }}
                {{ partial "share.html" . }}
            {{ end }}
            {{ if .Site.Params.enableDisqus }}
        		{{ if not .Params.disableDisqus }}
                	{{ partial "disqus.html" . }}
                {{ end }}
            {{ end }}
			</div>
            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}

            {{ if not .Params.HidePrevNextPost }}
                {{ partial "prev-next-posts.html" . }}
            {{ end }}
            
            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}

        {{ if not .Draft }}
	        {{ if .Params.publishAt }}
	        	{{ partial "publish-at-js.html" . }}
	        {{ end }}
        {{ end }}

        <script src="/js/header-style.js"></script>
    </body>
</html>
