/*
h2[id]:before {
    content: '# ';
}
*/

h1[id] a, h2[id] a, h3[id] a {
    color: #555555;
}

#post-list h2 {
	font: 400 17px/1.5em "Helvetica Neue", Helvetica, sans-serif;
}

.post h1 {
	letter-spacing: normal;
}

/* set 100% width for highlighted codes */
div.highlight td:nth-child(2) {
	width: 100%;
}

span.header--first-letter {
	border-bottom: 2px solid #9f9f9f;
}

ul>li {
	margin-bottom: 0.5em;
}

.read-time {
	font-weight: normal;
	color: #c2c2c2;
	font-size: 16px;
	display: block;
}

.text-center {
	text-align: center;
}

.red {
	color: firebrick;
}

.dark-underline {
	color: #666;
	text-decoration: underline;
}

.draft-indicator {
	color: darkgrey;
	font-size: 12px;
	vertical-align: text-top;
}

.draft-indicator--inverted {
	color: white;
    font-size: 12px;
    vertical-align: text-top;
    background-color: #8e8e8e;
    padding: 2px 5px;
    border-radius: 2px;
}

.draft-indicator--inverted + h2.headline, .draft-indicator + h2.headline {
    display: block;
    margin-top: 10px;
}

/* Link for Go playground, repl.it */
a[href^="https://play.golang.org/"],
a[href^="https://repl.it/"],
a[href^="https://codesandbox.io/s/"] {
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

a[href^="https://play.golang.org/"]:after,
a[href^="https://repl.it/"]:after,
a[href^="https://codesandbox.io/s/"]:after {
	content: " ▸";
}

a.reset {
	display: inline;
    justify-content: none;
    align-items: none;
}

a.reset:after {
	content: "";
}

p.figure-text {
	line-height: 1;
    text-align: center;
    font-size: small;
}

img[src$='#featured']
{
	max-height: 100px;
    width: auto;
    display: block;
    margin: auto;
}

.last-update-time {
	display: inline-block;
	float: right;
	color: darkgray;
	font-size: 14px;
	position: relative;
	top: 3px;
}

/* style custom "collapsible" component */
summary.collapsible {
    color: darkgrey;
    font-size: 12px;
}

/* photoswipe override */
.pswp__caption__center {
	text-align: center !important;
}
img.pswp__img {
	height: auto !important;
	margin-top: 20px;
    max-height: 80%;
}

/* adjust detail marker for "Show repl.it" collapsible */
details.show-repl-it summary {
    display: list-item;
    list-style: none;
    color: grey;
	text-align: right;
    margin-bottom: 10px;
}

details.show-repl-it[open] > summary {
  list-style: none;
}

details.show-repl-it summary::-webkit-details-marker {
    display: none
}

details.show-repl-it summary:after {
    content: " ▸";
}

details.show-repl-it[open] > summary:after {
    content: " ▾";
}

/* sharer */
div.sharer {
	margin-top: 50px;
}

@media only screen and (max-width: 420px) {
	/* adjust sharer when screen width is 420px or less */
	div.sharer > span {
		width: 100%;
		display: block;
		text-align: center;
		margin: 10px;
		float: none;
	}
}

/* adjust code highlighter */
div.highlight td > pre {
	margin-bottom: 10px !important;
}

/* build id */
span#build-id a {
	font-size: 12px;
	color: #bfbfbf;
    border-bottom: 1px dotted #bfbfbf;
}

nav.main-nav a.cta {
	margin-left: 0px;
}

/* unhide home in small screen */
@media (max-width: 324px) {
	nav.main-nav a.cta {
		display: inline-block !important;
	}
}

img.cover-image {
	margin: 10px auto;
}